In [2]:
import pandas as pd

In [19]:


# Specify the file path of the CSV dataset
file_path = '../Data/gun-deaths-by-country-2024.csv'

# Load the CSV dataset into a dataframe
df_death = pd.read_json('../Data/gun-deaths-by-country-2024.json')
df_gun = pd.read_json('../Data/gun-ownership-by-country-2024.json')

# Display the dataframe
display(df_death.head())
display(df_gun.head())

,country,GunDeathsAllCausesTotal2019,totalRate,shareOfDeaths,GunDeathsViolentTotal2019,GunDeathsViolentPct2019,GunDeathsViolentRatePer100k2019,gunViolenceByCountry_suicidesPer100k
0,India,14711.0,1.020379,5.896098,7977.0,0.08,0.57,1.0
1,China,1126.0,0.079008,0.451295,334.0,0.00,0.02,0.0
2,United States,37040.0,10.836289,14.845453,13001.0,0.44,3.96,6.0
3,Indonesia,439.0,0.156899,0.175949,153.0,0.01,0.06,0.0
4,Pakistan,2948.0,1.202236,1.181544,1721.0,0.11,0.77,0.0

,country,gunOwnershipByCountry_firearms,gunOwnershipByCountry_per100,gunOwnershipByCountry_military,gunOwnershipByCountry_lawEnf
0,India,71101000,5.3,3900000.0,1700000.0
1,China,49735000,3.6,27466400.0,1971000.0
2,United States,393347000,120.5,4535380.0,1016000.0
3,Indonesia,82000,0.0,1711450.0,429000.0
4,Pakistan,43917000,22.3,2315480.0,944000.0

In [21]:
merged_df = pd.merge(df_death, df_gun, on='country', how='outer')

display(merged_df.head())

,country,GunDeathsAllCausesTotal2019,totalRate,shareOfDeaths,GunDeathsViolentTotal2019,GunDeathsViolentPct2019,GunDeathsViolentRatePer100k2019,gunViolenceByCountry_suicidesPer100k,gunOwnershipByCountry_firearms,gunOwnershipByCountry_per100,gunOwnershipByCountry_military,gunOwnershipByCountry_lawEnf
0,Afghanistan,621.0,1.431768,0.248894,434.0,0.17,1.13,1.0,4270000.0,12.5,331170.0,239000.0
1,Albania,70.0,2.476982,0.028056,40.0,0.18,1.47,1.0,350000.0,12.0,21750.0,19000.0
2,Algeria,254.0,0.548848,0.101802,135.0,0.07,0.32,0.0,877000.0,2.1,637720.0,363000.0
3,American Samoa,0.0,NaN,NaN,0.0,0.06,0.42,0.0,400.0,0.7,NaN,90.0
4,Andorra,1.0,1.244694,0.000401,0.0,0.01,0.09,0.0,10000.0,14.1,NaN,976.0

In [22]:
missing_values = merged_df.isnull().sum()
missing_percentage = (missing_values / len(merged_df)) * 100
missing_data = pd.DataFrame({'Column': merged_df.columns, 'Missing Values': missing_values, 'Missing Percentage': missing_percentage})
missing_data

,Column,Missing Values,Missing Percentage
country,country,0,0.000000
GunDeathsAllCausesTotal2019,GunDeathsAllCausesTotal2019,20,8.928571
totalRate,totalRate,29,12.946429
shareOfDeaths,shareOfDeaths,29,12.946429
GunDeathsViolentTotal2019,GunDeathsViolentTotal2019,21,9.375000
GunDeathsViolentPct2019,GunDeathsViolentPct2019,20,8.928571
GunDeathsViolentRatePer100k2019,GunDeathsViolentRatePer100k2019,20,8.928571
gunViolenceByCountry_suicidesPer100k,gunViolenceByCountry_suicidesPer100k,33,14.732143
gunOwnershipByCountry_firearms,gunOwnershipByCountry_firearms,7,3.125000
gunOwnershipByCountry_per100,gunOwnershipByCountry_per100,7,3.125000
gunOwnershipByCountry_military,gunOwnershipByCountry_military,53,23.660714
gunOwnershipByCountry_lawEnf,gunOwnershipByCountry_lawEnf,11,4.910714